<html>
  <head>
    <meta charset: "utf-8"></meta>
    <meta name="viewport", content="width=device-width, initial-scale=1.0"></meta>
    <title>Gaslight</title>
    <%= javascript_include_tag "//use.typekit.net/ono5mit.js" %>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag    "home" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <ul id="bars">
      <li class="brand1"></li>
      <li class="brand2"></li>
      <li class="brand3"></li>
    </ul>

    <div id="wrapper" class="container">
      <header>
        <img class="logo" src="/assets/home/logo.png">
      </header>
      <section id="about">
        <h3 class="brand1">Let’s Build Great Things</h3>
        <div class="inner">
          <h4 class="brand1">Now with 100% Less Software!</h4>
          <p>
            Well, not really. You may remember us as Gaslight Software, the premier
            Ruby on Rails shop in Cincinnati. We're not doing less software development 
            these days, but we are doing more than software as well. 
          </p>
          <p>
            We've been refining
            our Agile process, we've added designers to our team, and we've been working
            on platforms other than the web. Rather than let 'Software' limit what we do
            we've decided to let Gaslight stand alone as the source of innovation for your next project.
          </p>
          <h4 class="brand2">What We Do:</h4>
          <ul class="skills">
            <li><span>Ruby/Ruby on Rails</span></li>
            <li><span>Backbone JS</span></li>
            <li><span>iOS</span></li>
            <li><span>Embedded Systems</span></li>
          </ul>
          <ul class="skills">
            <li><span>Agile Process</span></li>
            <li><span>Design</span></li>
            <li><span>User Experience</span></li>
            <li><span>Training</span></li>
          </ul>
        </div>
      </section>

      <section id="contact">
        <h3>Want to Talk?</h3>
        <div class="inner">
          <%= form_for(message, url: contact_path) do |f| %>
            <% if flash[:error] %>
              <p class="flash error"><%= flash[:error] %></p>
            <% elsif flash[:success] %>
              <p class="flash success"><%= flash[:success] %></p>
            <% end %>
            <%= f.text_field :name, placeholder: 'Name' %>
            <%= f.text_field :email, type: :email, placeholder: 'Email' %>
            <%= f.text_area :body, placeholder: 'How can we help you?' %>
            <%= f.submit 'Send it!', class: 'tiny secondary button' %>
          <% end %>
              <div class="socialMedia">
                <ul class="icons">
                  <li>
                    <%= link_to("", "https://github.com/gaslight", class: "github") %>
                  </li>
                  <li>
                    <%= link_to("", "https://facebook.com/teamgaslight", class: "facebook") %>
                  </li>
                  <li>
                    <%= link_to("", "https://twitter.com/teamgaslight", class: "twitter") %>
                  </li>
                </ul>
              </div>
        </div>
      </section>

    </div>

    <div id="footer">
      <ul class="contact">
        <li><span class="diamond email">e</span><a href="mailto:hello@gaslight.co">hello@gaslight.co</a></li>
        <li><span class="diamond phone">p</span>1-888-507-3430</li>
        <li><span class="diamond address">a</span>11126 Kenwood Rd Suite C, Cincinnati, OH 45242</li>
      </ul>
    </div>
    <%= render partial: 'application/analytics' %>
  </body>
</html>
