= render partial: 'application/nav'

#main.container.row
  %header.row.brand2
    .headline.brandBase.four.columns
      %h1 We listen. <br/>We <strong>Innovate</strong>.
    .intro.eight.columns
      %h3 We build apps and software that build businesses.
      %p We’re passionate about building things. But only if they’ll make a measurable difference for your business. That’s why our work starts and ends with listening.
      %p We want to understand your business. Then work together to create an innovative tool that makes your company more profitable. Our projects have done everything from manage vendor relationships to create entirely new revenue streams. 

  %section.row.yourTeam
    %a.anchor{name:"team"}
    .eleven.columns.centered
      %h2.title.brand2 Your Project Team
      %p.lead When you work with us, you’ll never be competing with other clients for our time or attention. We assign a dedicated team to every project that’s 100% focused on your goals. In fact, you can expect them to be in touch just about every day as they turn your ideas into a success story.
      %hr.divider.show-for-small
      .row
        .three.columns.iconTile
          %i.icon-team-dev
          %strong Two Developers
        .nine.columns
          %p Why two? We believe in pair programming—one person writes the code while a partner reviews it. This tag-team effort leads to faster and better solutions.

      .row
        .three.columns.iconTile
          %i.icon-team-des
          %strong A Designer
        .nine.columns
          %p Design matters. We integrate the design and development process to create a product that not only looks better, but works better, too. It’s one of the keys to creating a great user experience.
      .row
        .three.columns.iconTile
          %i.icon-team-guide
          %strong A Project Guide
        .nine.columns
          %p It’s someone who has been through the design and development countless times and can steer your project to success. Isn’t that a project manager? Nope. It’s something better. Read our mini manifesto.

  %section.row.clients
    %a.anchor{name:"clients"}
    .eleven.columns.centered
      %h2.title.brand2 Our Clients
      %p.lead We work with businesses, start-ups and visionaries across the country. Typically, we collaborate directly with the owner or another key stakeholder to create custom software and applications that play a central role in our clients’ companies. These businesses span a wide range of industries.
      %ul.clientsList.row
        %li
          %img{src: image_path('client/LocalizeIt.png')}
        %li
          %img{src: image_path('client/PG.png')}
        %li
          %img{src: image_path('client/Outright.png')}
        %li
          %img{src: image_path('client/Sharethrough.png')}
        %li
          %img{src: image_path('client/Agsync.png')}
        %li
          %img{src: image_path('client/Roadtripper.png')}
        %li
          %img{src: image_path('client/Apex.png')}
        %li
          %img{src: image_path('client/Lumbee.png')}

  %section.row.featuredProject
    %a.anchor{name:"featured"}
    .eleven.columns.centered
      %h2.title.brand2 Featured Project
      %p.lead LocalizeIt Online generates marketing leads for businesses through pay-per-click ads, organic search ranking, local listing optimization, social media and call tracking.
    #slideshow.ten.columns.centered
      %h3 LocalizeIt Online
      .slides
        = image_tag("project/slide1.jpg")
        = image_tag("project/slide2.jpg")
        = image_tag("project/slide3.jpg")
    .row
      .four.columns.sidebar
        %h5.brand2 The Big Payoff
        .content
          %p The online dashboard we created for Localizeit not only helped the company track success for clients—it created an unexpected new revenue stream.
          %p Localizeit was able to sell this powerful Web-based application to marketing agencies.
      .eight.columns
        %h5 The Goal
        %p Jeremy, CEO of LocalizeIt, wanted to collect statistics to track the ROI on his clients’ marketing dollars. In other words, what generated the most profitable leads for the money?

        %h5 The Solution
        %p We built Jeremy an online dashboard that pulls in data from multiple sources to track and report key performance indicators. This tool dynamically generates charts and reports that help his clients spend their marketing dollars more effectively.

        %h5 The Technology
        %p Ruby on Rails, Google’s AdWords, Microsoft’s adCenter, several third-party APIs, Highcharts, Google Charts

  %section.row
    .eleven.columns.centered
      %blockquote.brand2
        Lomo cillum ut pitchfork vice messenger bag, keytar id chambray craft beer jean shorts sapiente street art thundercats. Gentrify artisan keytar, chambray viral 3 wolf moon mustache culpa.
        %cite -Jeremy Localize It

= render partial: 'application/footer'