= render partial: 'application/nav'

#main.container.row
  %header.row.brand2
    .headline.brandBase.four.columns
      %h1 We listen. Then We <strong>Innovate</strong>.
      %h4
        %a.local{href: "#team"} Project Teams
        | 
        %a.local{href: "#clients"} Clients
        | 
        %a.local{href: "#featured"} Featured Project
    .intro.eight.columns
      %p.lead Let’s cast success in a new light. 
      %p Our works starts and ends with listening. We want to understand your business. Then build something innovative to make your company better and more profitable. We build things with tangible business benefits.  

  %section.row.yourTeam
    %a.anchor{name:"team"}
    .eleven.columns.centered
      %h2.title.brand2 Your Project Team
      %p.lead When you work with us, you’ll never be competing with other clients for our time or attention. We assign a dedicated team to every project that’s 100% focused on your goals. In fact, you can expect them to be in touch just about every day as they turn your ideas into a success story. 
      .row
        .three.columns.iconTile
          %i.icon-team-dev
          %strong Two Developers
        .nine.columns
          %p Like the old saying goes, two developers are better than one. We believe in pair programming—one person writes the code while a partner reviews it. This tag-team effort leads to faster and better solutions.
      .row
        .three.columns.iconTile
          %i.icon-team-des
          %strong A Designer
        .nine.columns
          %p Many development shops don’t have designers at all. We think integrating the design and development process leads to a product that not only looks better, but works better, too. It’s one of the keys to creating a great user experience. 
      .row  
        .three.columns.iconTile
          %i.icon-team-guide
          %strong A Project Guide
        .nine.columns
          %p Think of it as someone who has been through the design and development process a hundred times. And can steer your project down the path to success. Isn’t that a project manager, you say? Nope. It’s something better. Read our mini manifesto: Why We Don’t Have Project Managers.
  
  %section.row.clients
    %a.anchor{name:"clients"}
    .eleven.columns.centered
      %h2.title.brand2 Our Clients
      %p.lead We work with small- to medium-sized businesses, start-ups and visionaries across the country. Typically, we collaborate directly with the owner or another key stakeholder to create custom software and applications that play a central role in our clients’ companies. These businesses span a wide range of industries. 
      %ul.clients.row
        %li
          %a.client-LocalizeIt
        %li
          %a.client-PG
        %li
          %a.client-Outright
        %li
          %a.client-Sharethrough
        %li
          %a.client-Agsync
        %li
          %a.client-Roadtripper
        %li
          %a.client-Apex
        %li
          %a.client-Lumbee
  
  %section.row.featuredProject
    %a.anchor{name:"featured"}
    .eleven.columns.centered    
      %h2.title.brand2 Featured Project
      %p.lead This company generates marketing leads for businesses through pay-per-click ads, organic search ranking, local listing optimization, social media and call tracking.
      .slideshow
        %h3 LocalizeIt Online
        .slides
          = image_tag("project/slide1.jpg")
          = image_tag("project/slide2.jpg")
          = image_tag("project/slide3.jpg")
    .row
      .four.columns.sidebar
        %h5.brand2 The Big Payoff
        .content
          %p The online dashboard we created for Localizeit not only helped the company track success for clients—it created an unexpected new revenue stream. 
          %p Localizeit was able to sell this powerful Web-based application to marketing agencies.
      .eight.columns
        %h5 The Goal
        %p Jeremy, who heads up LocalizeIt, wanted to collect statistics to track the ROI on his clients’ marketing dollars. In other words, what generated the most profitable leads for the money?

        %h5 The Solution
        %p We built Jeremy an online dashboard that pulls in data from multiple sources to track and report key performance indicators. This tool dynamically generates charts and reports that help his clients spend their marketing dollars more effectively. 

        %h5 The Technology 
        %p  Ruby on Rails, Google’s AdWords API, Microsoft’s adCenter API, several other third-party APIs, Highcharts, Google Charts

  %section.row
    .eleven.columns.centered
      %h2.title.brand2 Client Testimonials

      %blockquote.brand2
        Lomo cillum ut pitchfork vice messenger bag, keytar id chambray craft beer jean shorts sapiente street art thundercats. Gentrify artisan keytar, chambray viral 3 wolf moon mustache culpa.
        %cite -Jeremy Localize It

= render partial: 'application/footer'