%article.post
  %header.post__header.instapaper_title
    %h2.post__title
      = link_to_unless_current(post.title, post)
      = image_tag(gravatar_url(post.author_email, '70x70'), class: 'post__avitar hide-for-medium-down')
    = image_tag(gravatar_url(post.author_email, '70x70'), class: 'post__avitar show-for-medium-down')
    %span.post__author by #{link_to(post.author_name, posts_path(author: post.author), rel: "author")}
    %time.post__time{pubdate: true, datetime: post.published_at.iso8601}= l(post.published_on, format: :nice)
  %section.post__body.instapaper_body
    = render(partial: 'player', locals: { post: post })
    = raw(post.html)
  %hr.divider
