%h1
  = link_to post.title, post_path(post)
by #{link_to(post.author, posts_path(author: post.author))}
%time{pubdate: true}= l(post.published_on, format: :nice)
%div 
  = render partial: 'tweet', locals: { post: post }
  = render partial: 'share', locals: { post: post }
.body
  = raw(post.html)
