.post
  .header
    %h1= link_to_unless_current(post.title, post)
    by #{link_to(post.author, posts_path(author: post.author))}
    %time{pubdate: true}= l(post.published_on, format: :nice)
  - if post.audio_url.present?
    .audio= render(partial: 'player', locals: { post: post })
  .body= raw(post.html)
