.columns.three.prepend-1.sidebar
  %h3 Social
  = render 'tweet'
  = render 'share'
  %h3 Tags
  = tag_list(post.tags)
  %h3 More
  - if post.previous
    %p.sidebar__nav Previous: #{link_to(post.previous.title, post.previous)}
  - if post.next
    %p.sidebar__nav Next: #{link_to(post.next.title, post.next)}
  - if post.related.any?
    %h3 Related
    %ul
      - post.related.each do |post|
        %li= link_to(post.title, post)
