- content_for(:list_type) { recent? ? 'Recent Posts' : 'All Posts' }
- content_for(:title) { "Gaslight Blog: #{yield(:list_type)}" }

= render partial: 'application/nav'
#main.container.row
  .columns.eight.post
    - if params[:tagged].present?
      %h1 #{pluralize(posts.count, 'post')} tagged with #{params[:tagged]}
      = render partial: 'post_list', locals: { posts: posts }
    - elsif params[:q].present?
      %h1 #{pluralize(posts.count, 'post')} containing '#{params[:q]}'
      = render partial: 'post_list', locals: { posts: posts }
    - elsif params[:author].present?
      %h1 #{pluralize(posts.count, 'post')} written by #{params[:author]}
      = render partial: 'post_list', locals: { posts: posts }
    - elsif params[:year].present?
      %h1
        #{pluralize(posts.count, 'post')} written
        - if params[:day].present?
          on
          = l(search_date, format: :nice)
        - elsif params[:month].present?
          in
          = l(search_date, format: :year_and_month)
        - else
          in
          = l(search_date, format: :year)
      = render partial: 'post_list', locals: { posts: posts }
    - else
      - Post.recent.limit(3).each_with_index do |post,index|
        .row
          .panel.bordered
            = render partial: 'post', locals: { post: post }
  .columns.three.prepend-1.sidebar
    = form_tag(search_posts_path, method: :get) do
      = text_field_tag :q, params[:q], placeholder: 'Search...'
    %h3 Tags
    = popular_tags(Post.popular_tags.limit(20))
    %h3 Authors
    %ul
      - authors.each do |post|
        %li
          = link_to(post.author || "Other", posts_path(author: post.author))
          (#{pluralize(post.post_count, 'posts')})

= render partial: 'application/footer'
