- content_for(:list_type) { recent? ? 'Recent Posts' : 'All Posts' }
- content_for(:title) { "Gaslight Blog: #{yield(:list_type)}" }

= render partial: 'application/nav'
#main.container.row
  .columns.eight.post
    - if params[:tagged].present?
      %h1 #{pluralize(posts.count, 'post')} tagged with #{params[:tagged]}
    - elsif params[:q].present?
      %h1 #{pluralize(posts.count, 'post')} containing '#{params[:q]}'
    - elsif params[:author].present?
      %h1 #{pluralize(posts.count, 'post')} written by #{params[:author]}
    - else
      %h1
        = link_to_unless_current('Recent Posts', recent_posts_path)
        |
        = link_to_unless_current('All Posts', posts_path)
    %ul
      - posts.each do |post|
        %li= link_to(post.title, post)
  .columns.three.prepend-1.sidebar
    %h3 Search
    = form_tag(search_posts_path, method: :get) do
      = text_field_tag :q, params[:q], placeholder: 'Search...'
    %h3 Tags
    = popular_tags(Post.popular_tags)
    %h3 Authors
    %ul
      - authors.each do |post|
        %li
          = link_to(post.author || "Other", posts_path(author: post.author))
          (#{pluralize(post.post_count, 'posts')})

= render partial: 'application/footer'
