#nav
  .row
    %nav.twelve.columns
      .brand
        %img.logo{src: image_path("logoSmall.png")}
        = link_to "Gaslight", page_path("home")

      %ul.right
        %li.toggle-topbar
          %a
        %li
          = link_to "About", page_path("about")
        %li
          = link_to "Work", page_path("work")
        %li
          = link_to "Contact", page_path("contact")
        %li
          = link_to "Blog", page_path("blog")