<!doctype html>
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : "Gaslight: Ruby on Rails, iOS and JavaScript development"
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{'http-equiv' => "CACHE-CONTROL", content: "NO-CACHE"}
    = favicon_link_tag "/assets/32x32icon.png"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    = yield

    = render partial: 'application/analytics'

  = content_for(:javascript)