<!doctype html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Gaslight: Ruby on Rails, iOS and JavaScript development" %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= favicon_link_tag "/assets/32x32icon.png" %>
    <%= stylesheet_link_tag    "home" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "//use.typekit.net/ono5mit.js" %>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <ul id="bars">
      <li class="brand1"></li>
      <li class="brand2"></li>
      <li class="brand3"></li>
    </ul>

    <div class="row container">
      <div class="row" id="header">
        <div class="four columns centered">
          <img class="logo" src="/assets/home/logo.png"/>
        </div>
      </div>
      <div class="row main">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <div class="row">
        <div class="ten columns centered">
          <div class="row">
            <div class="three columns link"><span class="diamond email">e</span><a href="mailto:hello@gaslight.co">hello@gaslight.co</a></div>
            <div class="three columns link"><span class="diamond phone">p</span>1-888-507-3430</div>
            <div class="six columns link"><span class="diamond address">a</span>11126 Kenwood Rd Suite C, Cincinnati, OH 45242</div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'application/analytics' %>
  </body>
</html>
